In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
# Загрузка датасета с погодными данными
url = "https://raw.githubusercontent.com/vega/vega/master/docs/data/seattle-weather.csv"
data = pd.read_csv(url)
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [3]:
# Описательная статистика
data.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [4]:
# Нормализация данных MinMax Scaler
minmax_scaler = MinMaxScaler() # Создаем объект
# Обучение MinMax Scaler
data_norm = minmax_scaler.fit_transform(
    np.array(data[['precipitation', 'temp_max', 'temp_min', 'wind']]))

In [5]:
data_norm[1,:]

array([0.19499106, 0.32795699, 0.38976378, 0.45054945])

In [6]:
data_norm[:1]

array([[0.        , 0.38709677, 0.47637795, 0.47252747]])

In [7]:
# Преобразуем обратно в датафрейм
data_norm_df = pd.DataFrame(
    data_norm, columns = ['precipitation', 'temp_max', 'temp_min', 'wind'])
data_norm_df.head()

   precipitation  temp_max  temp_min      wind
0       0.000000  0.387097  0.476378  0.472527
1       0.194991  0.327957  0.389764  0.450549
2       0.014311  0.357527  0.562992  0.208791
3       0.363148  0.370968  0.500000  0.472527
4       0.023256  0.282258  0.389764  0.626374

In [8]:
data_norm_df.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        0.054194     0.484922     0.603731     0.312213
std         0.119503     0.197574     0.197756     0.158003
min         0.000000     0.000000     0.000000     0.000000
25%         0.000000     0.327957     0.452756     0.197802
50%         0.000000     0.462366     0.606299     0.285714
75%         0.050089     0.639785     0.759843     0.395604
max         1.000000     1.000000     1.000000     1.000000

In [9]:
# Применение стандартизации StandardScaler
std_scaler = StandardScaler() # Создаем объект
# Обучение StandardScaler
data_std = std_scaler.fit_transform(
    np.array(data[['precipitation', 'temp_max', 'temp_min', 'wind']]))

In [10]:
data_std_df = pd.DataFrame(
    data_std, columns = ['precipitation', 'temp_max', 'temp_min', 'wind'])
data_std_df.head()

   precipitation  temp_max  temp_min      wind
0      -0.453650 -0.495299 -0.644212  1.014980
1       1.178598 -0.794731 -1.082347  0.875833
2      -0.333852 -0.645015 -0.206077 -0.654780
3       2.586224 -0.576962 -0.524720  1.014980
4      -0.258978 -1.026111 -1.082347  1.989006

In [11]:
data_std_df.describe()

       precipitation      temp_max      temp_min          wind
count   1.461000e+03  1.461000e+03  1.461000e+03  1.461000e+03
mean   -1.269803e-16 -4.772211e-17  5.830001e-16 -4.122491e-17
std     1.000342e+00  1.000342e+00  1.000342e+00  1.000342e+00
min    -4.536499e-01 -2.455218e+00 -3.053954e+00 -1.976672e+00
25%    -4.536499e-01 -7.947312e-01 -7.637031e-01 -7.243529e-01
50%    -4.536499e-01 -1.142038e-01  1.299056e-02 -1.677664e-01
75%    -3.435685e-02  7.840924e-01  7.896842e-01  5.279666e-01
max     7.917235e+00  2.607906e+00  2.004513e+00  4.354498e+00